<div class="bg" style="background-color : #F8F8F8;">
    <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
        <div class="parent">
            <div class="child">
                <div nz-col class="imgDiv">
                    <div nz-col nzSpan="24">
                        <h1 style="margin-left:80px;">Sing Up</h1>
                    </div>
                </div>
                <form nz-form [formGroup]="signupForm">

                    <nz-form-item>
                        <nz-form-control nzHasFeedBack nzErrorTip="This input is not valid E-mail!">
                            <input nz-input placeholder="E-mail" id="email" formControlName="email"/>
                        </nz-form-control>
                    </nz-form-item>

                    <!-- <nz-form-item>
                        <nz-form-control nzHasFeedBack nzErrorTip="errorPass">
                            <input nz-input type="password" placeholder="Password" id="password"  formControlName="password"/>
                        </nz-form-control>

                    </nz-form-item> -->

                    <nz-form-item>
                        <nz-form-control nzHasFeedBack [nzErrorTip]="errorPass">
                            <input nz-input placeholder="Password" type="password"  id="password" formControlName="password"/>
                            <ng-template #errorPass let-control nzValidateStatus="warning">
                                <ng-container *ngIf="control.hasError('required')">
                                    Password Is Required!
                                </ng-container>
                                <ng-container *ngIf="control.hasError('pattern')">
                                    Password Should Contain 8 Characters, 1 Lowercase, 1 Uppercase, 1Number and 1 Special Character!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control nzHasFeedBack [nzErrorTip]="errorTpl">
                            <input nz-input type="password" placeholder="Confirm Password" id="checkpassword" formControlName="checkPassword"/>
                            <ng-template #errorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Password Confirm Your Password!
                                </ng-container>
                                <ng-container *ngIf="control.hasError('Confirm')">
                                    Two Password that you enter is inconsistent!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control nzHasFeedBack [nzErrorTip]="userErrorTpl">
                            <input nz-input  placeholder="Name" id="username" formControlName="name"/>
                            <ng-template #userErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please Enter Your username!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="register()" [disabled]="signupForm.invalid"> Register</button>
                    Or <a routerLink="/login">Login Now!</a>

                </form>

            </div>

        </div>

    </nz-spin>


</div>
